.contact-wrapper {
    margin: 20px;
    position: fixed;
    top: 4px;
    right: 0;
    cursor: pointer;
    .envelope {
        display: block;
    }
    .envelope-open {
        display: none;
    }
}
.contact-wrapper.open {
    top: 0;
    .envelope{
        display: none;
    }
    .envelope-open {
        display: block;
    }
}
    