.input-wrapper {
    margin-top: 25px;
    position: relative;
    .textInput {
        .inp {
            position: relative;
            margin: auto;
            width: 100%;
            .span-label {
                position: absolute;
                top: 11px;
                left: 0;
                font-size: 16px;
                color: gray;
                transform-origin: 0 0;
                transition: all 0.2s ease;
                font-family: 'Quicksand', sans-serif;
            }
            .span-border {
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background: $yellow;
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: all 0.15s ease;
            }
            input {
                -webkit-appearance: none;
                width: 100%;
                border: 0;
                padding: 12px 0;
                height: 48px;
                font-size: 16px;
                border-bottom: 1px solid #c8ccd4;
                background: none;
                border-radius: 0;
                color: #223254;
                transition: all 0.15s ease;
                &:hover {
                    background: rgba(34,50,84,0.03);
                }
                &:not(:placeholder-shown)+ span {
                    color: $dark-gray;
                    transform: translateY(-26px) scale(0.75);
                }
                &:focus {
                    background: none;
                    outline: none;
                }
                &:focus + span {
                    color: $yellow;
                    transform: translateY(-26px) scale(0.75);
                }
            }
            input:focus + span + .span-border {
                transform: scaleX(1);
            }
        }
        .fa {
            position: absolute;
            right: 15px;
            top: 5px;
            line-height: 35px;
            display: none;
            z-index: 10;
        }
    }
    .success {
        .success {
            display:inline;
            color: green;
        }
    }
    .failed {
        .failed {
            display:inline;
            color: red;
        }
    }
}


  