.modal {
    .modal-content {
        padding: 50px;
        .modal-header {
            padding: 0;
            border-bottom: none;
            margin-bottom: 20px;
            .close {
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
        .modal-body {
            padding: 0;
            min-height: 425px;
            #subscription-forms {
                .form-container {
                    .info-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 20px;
                        border-left: 2px solid $yellow;
                        height: 100%;
                        margin-top: 20px;
                        margin-left: 20px;
                        .info-title {
                            color: black;
                            font-weight: bold;
                            font-size: 18px;
                            .fa {
                                margin-right: 8px;
                            }
                        }
                    }
                    .button-wrapper {
                        justify-content: center;
                        margin-top: 50px;
                    }
                }
                .fa-spinner {
                    display: none;
                    position: absolute;
                    top: 40%;
                    width: 100%;
                    text-align: center;
                }
                .sent-form {
                    display: none;
                    position: absolute;
                    top: 40%;
                    width: 100%;
                    justify-content: center;
                    align-items: baseline;
                    font-size: 25px;
                    .fa {
                        margin-right: 5px;
                        color: green;
                    }
                }
                .error {
                    display: none;
                    position: absolute;
                    top: 40%;
                    width: 100%;
                    justify-content: center;
                    align-items: baseline;
                    font-size: 25px;
                    .fa {
                        margin-right: 5px;
                        color: red;
                    }
                }
                strong {
                    color: black;
                }
            }
        }
    }
}