.skillbar-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    .skillbar-title {
        color: black;
        margin-right: 20px;
        min-width: 95px;
        h3 {
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
    .skillbar {
        position: relative;
        display: block;
        margin-bottom: 15px;
        width: 100%;
        background:lightgray;
        border-radius: 5px;
        height:10px;
        transition:0.4s linear;
        transition-property: width, background-color;
        .skillbar-bar {
            height: 10px;
            width: 0px;
            background: $yellow;
            border-radius: 5px;
        }
        .skillbar-percent {
            position: absolute;
            right: 10px;
            top: 0;
            font-size: 11px;
            height: 10px;
            line-height: 35px;
            color:$dark-gray;
            border-radius: 5px;
        }
    }
}