// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$yellow: #fdc000;
$dark-gray: #7b7b7b;

// Responsive
$large-screen: "(max-width: 1600px)";
$medium-screen: "(max-width: 1199px)";
$small-screen: "(max-width: 992px)";
$mobile: "(max-width: 768px)";
$small-mobile: "(max-width: 501px)";
$custom-width: "(max-width: 1500px)";

$base: 0.6rem;