#about-me {
    position: relative;
    min-height: 100vh;
    .container {
        padding: 75px 0;
        height: 100%;
        .section-title-wrapper {
        }
        .content-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text-container {
                margin-bottom: 40px; 
                h3 {
                    color: black;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
        .width {
            width: 100%;
            .button-container {
                display: flex;
                justify-content: space-around;
                margin-top: 35px;
                .button-wrapper {
                }
            }
        }
    }
    .portrait-wrapper {
        position: absolute;
        bottom: 30px;
        left: 45px;
        z-index: -1;
        height: 100%;
        padding-top: 150px;
        .background-image {
            height: 100%;
            width: 358px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .filter {
                background-color: rgba(255,255,255,0.3);
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media #{$mobile} {
    #about-me {
        .container {
            .content-container {
                .text-container {
                    text-align: center;
                }
                .skill-container {
                    align-items: center;
                    border-left: none;
                    .text-wrapper {
                        text-align: center;
                    }
                }
            }
        }
        .portrait-wrapper{
            left: 0;
            .background-image {
                width: 460px;
                .filter {
                    background-color: hsla(0,0%,100%,.8);
                }
            }
        }
    }
}