.banner{
    widows: 100%;
    min-height: 100vh;
    .background-image {
        position: relative;
        background-color: #cccccc;
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .filter {
            background-color: rgba(255,255,255,0.2);
            height: 100%;
            width: 100%;
            .container {
                position: relative;
                left: 0;
                top: 20%;
                .skillbar-container {

                }
                .text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    text-align: center;
                    height: 100%;
                    padding-bottom: 0px;
                    .title-wrapper {
            
                    }
                    .separator {
                        background-color: $yellow;
                        height: 2px;
                        width: 50px;
                    }
                    .text-wrapper {
                        h2 {
                            color: $dark-gray;
                        }
                    }
                }
            }
        }
    }
}

@media #{$mobile} {
    .banner{
        .background-image {
            .filter {
                .col-md-5 {
                    order: 1;
                }
                .col-md-7 {
                    order: -1;
                    .text-container {
                        padding-bottom: 35px;
                    }
                }
            }
        }
    }
}