#my-background {
    height: calc(100vh - 58px);
    .background-container {
        padding-top: 100px;
        .text-container {
            margin-bottom: 50px;
            padding-right: 50px;
        }
    }
}

@media #{$mobile} {
    #my-background {
        height: auto;
        .background-container {
            .text-container {
                text-align: center;
                padding-right: 0px;
            }
        }
    }
}