#my-background {
    .background-container {
        padding-top: 100px;
        .text-container {
            margin-bottom: 50px;
            padding-right: 50px;
        }
    }
}
@media #{$mobile} {
    #my-background {
        .background-container {
            .text-container {
                padding-right: 0px;
            }
        }
    }
}