#my-projects {
    min-height: 100vh;
    .container {
        .owl-carousel { 
            position: relative;
            height: 100%;
            padding: 20px 0px;
            .owl-nav {
                font-size: 20px;
                .owl-prev,
                .owl-next {
                    position: absolute;
                    top: -37px;
                    .fa {
                        color: black;
                    }
                }
                .owl-prev {
                    left: 200px;
                    .fa {
                        margin-right: 8px;
                    }
                }
                .owl-next {
                    left: 300px;
                    .fa {
                        margin-left: 8px;
                    }
                }
            } 
            .owl-stage-outer {
                height: 100%;
                .owl-stage {
                    height: 100%;
                    .owl-item {
                        height: 100%;
                        .item {
                            position: relative;
                            height: 100%;
                            padding-top: 100px;
                            .description-container {
                                .translate {
                                    h4 {
                                        color: black;
                                        margin-bottom: 0;
                                    }
                                    a {
                                        color: black;
                                        margin-bottom: 1.5rem
                                    }
                                    p {
                                        margin: 1rem 0;
                                    }
                                }
                                .information-wrapper {
                    
                                }
                            }
                            .owl-carousel-inner {
                                position: relative;
                                cursor: pointer;
                                .image-wrapper {
                                    min-height: 100%;
                                }
                                .owl-nav {
                                    font-size: 35px;
                                    .owl-prev,
                                    .owl-next {
                                        visibility: hidden;
                                        opacity: 0;
                                        position: absolute;
                                        top: 45%;
                                        transition: all 300ms linear;
                                        .fa {
                                            color: $yellow;
                                        }
                                    }
                                    .owl-prev {
                                        left: 0;
                                    }
                                    .owl-next {
                                        left: 93%;
                                    }
                                }
                                &:hover {
                                    .owl-nav {
                                        .owl-prev,
                                        .owl-next {
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }
                                } 
                            }
                        }
                    }
                }
            }
            /* .owl-animated-out - only for current item */ 
            /* This is very important class. Use z-index if you want move Out item above In item */ 
            .owl-animated-out {
                z-index: 1;
            }
            /* .owl-animated-in - only for upcoming item
            /* This is very important class. Use z-index if you want move In item above Out item */ 
            .owl-animated-in {
                z-index: 0;
            }
        }
    }
}
